 {
	border:black solid 1px;
}
.body {
	background: url("images/monthly.gif");
	background-repeat: no-repeat;
	background-position: bottom;
	height: 100vh;

    background: url(images/beauty.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.center {
	text-align: center;
}

.input1 {
 	width: 188px;
 	margin-left: auto;
 	margin-right: auto;
 }
 .results {
 	width: 220px;
 	margin-right: auto;
 	margin-left: auto;
 }